.backgroundss{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background-color: #080710 ;
    
}
.backgroundss .shapes{
  
    position: fixed;
    border-radius: 55%;
}
.shapes:nth-child(1) {
    height: 20vw; /* Tamaño relativo al viewport */
    width: 20vw; /* Tamaño relativo al viewport */
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: 30vw; /* Posición relativa al viewport */
    top: 15vh; /* Posición relativa al viewport */
}

.shapes:nth-child(2) {
    height: 20vw; /* Tamaño relativo al viewport */
    width: 20vw; /* Tamaño relativo al viewport */
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: 30vw; /* Posición relativa al viewport */
    bottom: 15vh; /* Posición relativa al viewport */
}

/* Nuevos círculos */
.shapes:nth-child(3) {
    height: 12vw; /* Tamaño relativo al viewport */
    width: 12vw; /* Tamaño relativo al viewport */
    background: linear-gradient(
        to right,
        #00c6ff,
        #0072ff
    );
    left: 60vw; /* Posición relativa al viewport */
    top: 40vh; /* Posición relativa al viewport */
}

.shapes:nth-child(4) {
    height: 25vw; /* Tamaño relativo al viewport */
    width: 25vw; /* Tamaño relativo al viewport */
    background: linear-gradient(
        to right,
        #f46b45,
        #eea849
    );
    right: 90vw; /* Posición relativa al viewport */
    bottom: vh; /* Posición relativa al viewport */
}
.shapes:nth-child(5) {
    height: 15vw; /* Tamaño relativo al viewport */
    width: 15vw; /* Tamaño relativo al viewport */
    background: linear-gradient(
        to right,
        #f46b45,
        #eea849
    );
    right: 5vw; /* Posición relativa al viewport */
    bottom: vh; /* Posición relativa al viewport */
}
.shapes:nth-child(6) {
    height: 5vw; /* Tamaño relativo al viewport */
    width: 5vw; /* Tamaño relativo al viewport */
    background: linear-gradient(
        to right,
        #f46b45,
        #eea849
    );
    right: 50vw; /* Posición relativa al viewport */
    bottom: 2vh; /* Posición relativa al viewport */
}


#Home {
    height: 40vh;
    width: 90vh;
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 48%;
    border-radius: 10px;
    
    padding: 50px 35px;
}


#Home #Welcome {
    font-size: 13vh;
    margin-left: 8vh;
    margin-bottom: 2vh;
    text-align: center;
    color: white;
}
#Home p {
    font-size: 20px;
    margin-left: 8vh;
    margin-bottom: -1vh;
    text-align: center;
    color: white;
}
#Home #balance {
    font-size: 3.5vh;
    margin-left: 8vh;
    margin-bottom: 2vh;
    text-align: center;
    color: white;
}

.cardsds{
    display: grid;
}





/* Column*/
.two-column-form {
    display: flex;
    gap: 2%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}