#asdss{
    height: 70vh;
        width: 45vh;
        background-color: rgba(172, 41, 41, 0);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 52%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.075);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 50px 35px;
}

.buton{
    padding-Top: 20px;
    margin-top: 25px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px ;
    border-radius: 150px;
    cursor: pointer;
}
#labol{
    width: 37vh;
    margin-bottom: -10vh;
}

#Actu{
    font-weight: bold;
    color: white;
}